<div class="text-center">
    <h1 class="mb-3">Спасибо за покупку!</h1>
    <div class="mb-3">
        <a asp-controller="Home" asp-action="Index" class="p-3 btn btn-dark">&lt;Назад к фигуркам</a>
    </div>
</div>